<% include ../includes/header.ejs %>

<main class="container">
  <h1>Cadastro de promoções</h1>

  <form action="/promocoes" method="POST">
    <div class="form-group">
      <label>Livro:</label>
      <select name="livro[titulo]">
        <% livros.forEach((livro) => { %>
          <option value="<%= livro.titulo %>"><%= livro.titulo %></option>
        <% }) %>
      </select>
    </div>

    <div class="form-group">
      <label>Descrição:</label>
      <input type="text" name="descricao">
    </div>

    <input class="btn btn-primary" type="submit" value="Cadastrar">
  </form>
</main>

<% include ../includes/footer.ejs %>
