<% include ../includes/header.ejs %>

<h1>Produto Cadastrado com Sucesso!</h1>
<article class="container">
  <td><%= livro.titulo %></td>
  <td><%= livro.preco %></td>
  <td><p><%= livro.descricao %></p></td>
</article>

<% include ../includes/footer.ejs %>
